 /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

/* --------------------------------------------------------------------------- */
/* ---------------- All shared styles go in here ----------------------------- */
/* --------------------------------------------------------------------------- */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Montserrat;
}
/* color not updating - will continue to troubleshoot */
.navbar {
    font-family: Montserrat;
    font-weight: 600;
    font-size: larger;
    background-color: #272626;
    color: lightgray;
}
.navbar-brand{
    font-size: x-large;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make  images in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".png"] {
    min-width: 100%;
}

.img-responsive{

    min-width:100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* Searchbar*/
.searchbar {
    margin-bottom: 8px;
    margin-top: 8px;
    float:right;
    height: 35px;
    background-color: lightgray;
    border-radius: 30px;
    padding: 8px 0px 0px 0px;
}

.search_input {
    color: #272626;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    font-size: 18px;
    font-weight: bold;
    caret-color: transparent;
    line-height: 0px;
    transition: width 0.4s linear;
    text-align: left;
    align-content: flex-start;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 400px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: dodgerblue;
    margin-top: 9px;

}

.search_icon {
    height: 0px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    text-decoration: none;
    margin-top: 9px;
}

/*--------------------------------------
   Style embedded articles   
--------------------------------------*/
.embedContent{
    background-color:white;
    align-items:center;

}
/* Arrtice bias/title Formatting 
   Bold weight has not changed yet */
.article-title {
    font-family: Montserrat;
    color: #272626;
    text-align: center;
    font-weight: bold;
    margin-top: 10px
}
.article-bias{
    height: 15px;
    border-radius: 10px;
}
/* Change colors based on political bias score */
#farleftliberal {
    background-color: #061f80;
}
#midleftliberal {
    background-color: #2759b8;
}
#neutralleftliberal {
    background-color: #6ca1eb;
}
#neutral {
    background-color: #cad0d9;
}
#farrightconservative {
    background-color: #731815;
}
#midrightconservative {
    background-color: #ab3333;
}
#neutralrightconservative {
    background-color: #ab6161;
}

