@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<form>

    <div class="form-group">
        <label for="InputEmail1">Enter your Email address</label>
        <input type="email" class="form-control" name="UserEmail" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <br/>
    <br/>

    <div class="form-group">
        <label for="emailText" name="QuestionsConcerns">Ask questions or address concerns here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>

    <br />
    <br/>

    <button type="submit" class="btn btn-primary" onclick="Submit">Submit</button>

</form>

