@page
@model SocialModel
@{
    ViewData["Title"] = "Social Issues";
}
<div class="row" id="categorychoices">

</div>

@* Pretty navbar for flipping through categories*@
<div class="row">
    <h1>Category chosen will appear here</h1>
    @* This will be populated later using database *@
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Categories</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">BLM</a></li>
                <li><a href="#">LGBBTQ+</a></li>
                <li><a href="#">Women's Rights</a></li>
                <li><a href="#">Climate Change</a></li>
                <li><a href="#">Healthcare</a></li>
                <li><a href="#">Refugee Crisis</a></li>
                <li><a href="#">Human Trafficking</a></li>
            </ul>
        </div>
    </nav>

    @* Articles are placed here (need to add code to populate based on database data) *@
    <div class="col-md-12">
        <div class="article-container">
            <div class="article-title">
                <h2>Black Lives Matter Just Entered Its Next Phase</h2>
            </div>
            <div class="article-bias" id="farleftliberal"></div>
            <embed type="text/html" class="embedContent" src="https://www.theatlantic.com/culture/archive/2020/09/black-lives-matter-just-entered-its-next-phase/615952/" width="1140" height="400">
        </div>
        <div class="article-container">
            <div class="article-title">
                <h2>Over 11,000 scientists warn of ‘climate emergency’</h2>
            </div>
            <div class="article-bias" id="farrightconservative"></div>
            <embed type="text/html" class="embedContent" src="https://www.foxnews.com/science/11000-scientists-warn-of-climate-emergency" width="1140" height="400">
        </div>
        <div class="article-container">
            <div class="article-title">
                <h2>Ginsburg, a feminist icon memorialized as the Notorious RBG</h2>
            </div>
            <div class="article-bias" id="neutral"></div>
            <embed type="text/html" class="embedContent" src="https://abcnews.go.com/Politics/wireStory/ginsburg-feminist-icon-memorialized-notorious-rbg-73113229" width="1140" height="400">
        </div>
        <div class="article-container">
            <div class="article-title">
                <h2>How LGBT Nonprofits And Their Billionaire Patrons Are Reshaping The World</h2>
            </div>
            <div class="article-bias" id="neutralrightconservative"></div>
            <embed type="text/html" class="embedContent" src="https://www.theamericanconservative.com/articles/how-lgbt-nonprofits-and-their-billionaire-patrons-are-reshaping-the-world/" width="1140" height="400">
        </div>
        <div class="article-container">
            <div class="article-title">
                <h2>CNN Special Reports Presents: Women Represented: The 100 Year Battle for Equality</h2>
            </div>
            <div class="article-bias" id="midleftliberal"></div>
            <embed type="text/html" class="embedContent" src="https://cnnpressroom.blogs.cnn.com/2020/08/17/cnn-special-reports-presents-women-represented-the-100-year-battle-for-equality/" width="1140" height="400">
        </div>
    </div>

</div>